.card{
  padding: 44px 44px 16px 44px;
  background: var(--black);

}
.title{
  font-size: 48px;
  color: var(--light-gray);
  font-weight: 700;
}
.info{
  list-style: none;
}
.text{
  font-size: 17px;
  font-weight: 500;
  color: var(--light-gray);
  margin-bottom: 5px;
}

.images{
  width: 100%;
  text-align: center;
}